$main-color: rgb(55, 176, 224);
$off-white: rgb(226, 226, 226);

html{
    scroll-behavior: smooth;
    background-color: #222;
    background: #222;
    width: 100%;
}

.blue-text{
    color: rgb(54, 197, 253);
    text-shadow: 0px 0px 3px $main-color;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: $off-white;
    
}

a:visited {
    text-decoration: none;
    color: $off-white;
}

a:hover {
    text-decoration: none;
    color: $off-white;
}

a:active {
    text-decoration: none;
    color: $off-white;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #222, #414141);
}

.button-effect{
    transition: .5s;
    box-shadow: 0px 0px 10px 3px #555;
}
.button-effect:hover{
    box-shadow: 0px 0px 10px 3px $off-white;
    
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    padding-right: 40px;
    align-items: center;
    align-content: center;
    span{
        font-family: Tourney;
        text-shadow: none;
        font-size: 19px;
    }

    h6{
        color: rgb(177, 177, 177);
        font-style: Montserrat;
    }
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span{
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    padding-top: 10%;
    .display-1{
        color: rgb(226, 226, 226);
        font-family: Tourney;
        width:fit-content;
        margin: auto;
        padding-bottom: 0px;
        font-size: 70;
        text-align: center;
    }
    
}



.links{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(to right, #222, #414141);    padding-bottom: 150px;
    img{
        transition: .5s;
        -webkit-filter: drop-shadow(0px 0px 3px $off-white);
    }

    img:hover{
        -webkit-filter: drop-shadow(0px 0px 15px $off-white);
    }
}

.foot{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 0px;
}

footer{
    display: flex;
    background-color: #222;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
}

.contacts{
    background-color: #222;
    padding-top: 0px;
}

.subpage{
    background-image: linear-gradient(to right, #222, #414141);
    height: 900px;
    padding: 100px;
    font-family: Montserrat;
}

.subpage-pro{
    background-image: linear-gradient(to right, #222, #414141);
    height: 1100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;


    p{
        margin-bottom: 5%;

    }

    a{
        width: fit-content;
        margin-bottom: 30px;
    }

    img{
        transition: .5s;
        -webkit-filter: drop-shadow(0px 0px 3px $off-white);
    }

    img:hover{
        -webkit-filter: drop-shadow(0px 0px 15px $off-white);
    }
}

.line{
    width: 40%;
    margin: auto;
    height: fit-content;
    .in-line{
        height: 5px;
        background-color: $main-color;
        box-shadow: 0px 0px 5px 1px $main-color;
        transform: translateY(10px);
    }

}

.projects-title{
    padding-top: 100px;
    padding-bottom: 30px;
}

.display-1{
    color: $off-white;
    font-family: Tourney;
    width:fit-content;
    margin: auto;
    padding-bottom: 0px;
    text-align: center;
}

.display-4{
    text-shadow: 0px 0px 10px $main-color;
    color: $main-color;    font-family: Tourney;
    scale: 80%;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: $off-white;
    font-family: Tourney;
    margin-top: 0;
    text-shadow: 0px 0px 10px $main-color;
    color: $main-color;
}

p{
    padding-top: 30px ;
    color: $off-white;
    font-size: 20px;
}

.tech-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
}

.homedisplay{
    display: flex;
    justify-content: center;

    a{
        margin-top: 5%;
        padding: 10px;
        outline: $off-white solid 2px;
    }
}


.nav-bar{
    position: fixed;
    background-color: #222;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 0px 15px 1px rgb(3, 3, 3);

    
}

.text-glow-btn{
    transition: .3s;
}
.text-glow-btn:hover{
    text-shadow: 0px 0px 10px $off-white;
}

.nav-main{
    color: $main-color !important;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
    text-decoration: none;
    font-family: Tourney;
    
}

.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: auto;
}

.nav-option{
    padding-right: 60px;
    align-items: center;
    display: flex;

    a{
        text-decoration: none;
        color: rgb(177, 177, 177);
        font-family: Montserrat;
        font-weight: bold;
    }

    a:hover{

    }
}




@media only screen and (max-width: 1120px){
    $main-color: rgb(55, 176, 224);
    $off-white: rgb(226, 226, 226);
    
    html{
        scroll-behavior: smooth;
        background-color: #222;
        background: #222;
    }

    .right{
        margin: auto;
    }
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
    a:link {
        text-decoration: none;
        color: $off-white;
        
    }
    
    a:visited {
        text-decoration: none;
        color: $off-white;
    }
    
    a:hover {
        text-decoration: none;
        color: $off-white;
    }
    
    a:active {
        text-decoration: none;
        color: $off-white;
    }
    
    .container-fluid{
        margin: 0px;
        padding: 0px;
        background-color: #222
    }
    
    .button-effect{
        transition: .5s;
        box-shadow: 0px 0px 10px 3px #555;
    }
    .button-effect:hover{
        box-shadow: 0px 0px 10px 3px $off-white;
        
    }
    
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .span{
        font-size: 45px;
        margin: 0px;
        padding: 0px;
        padding-top: 100px;
        .display-1{
            color: rgb(226, 226, 226);
            font-family: Tourney;
            width:fit-content;
            margin: auto;
            padding-bottom: 0px;
            font-size: 45px;
            text-align: center;
        }
        
    }
    
    
    
    .links{
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #222;
        padding-bottom: 150px;
        img{
            transition: .5s;
            -webkit-filter: drop-shadow(0px 0px 3px $off-white);
        }
    
        img:hover{
            -webkit-filter: drop-shadow(0px 0px 15px $off-white);
        }
    }
    
    .foot{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 0px;
    }
    
    footer{
        display: flex;
        background-color: #222;
        padding-bottom: 0;
        padding-top: 0;
        height: auto;
    }
    
    .contacts{
        background-color: #222;
        padding-top: 0px;
    }
    
    .subpage{
        background-color: #222;
        height: 800px;
        padding: 10px;
        font-family: Montserrat;
        padding-top: 170px;
    }
    
    .subpage-pro{
        background-color: #222;
        height: 700px;
        padding-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Montserrat;
    
    
        p{
            margin-bottom: 5%;
    
        }
    
        a{
            width: fit-content;
            margin-bottom: 0px;
        }
    
        img{
            transition: .5s;
            max-width: 350px;
            max-height: 200px;
            //transform: translateX();
            -webkit-filter: drop-shadow(0px 0px 3px $off-white);
        }
    
        img:hover{
            -webkit-filter: drop-shadow(0px 0px 15px $off-white);
        }

        h2{
            padding-top: 40px;
        }
    }
    
    .line{
        width: 40%;
        margin: auto;
        height: fit-content;
        .in-line{
            height: 5px;
            background-color: $main-color;
            box-shadow: 0px 0px 5px 1px $main-color;
            transform: translateY(10px);
        }
    
    }
    
    .display-1{
        color: $off-white;
        font-family: Tourney;
        width:fit-content;
        margin: auto;
        padding-bottom: 0px;
        text-align: center;
    }
    
    .display-4{
        text-shadow: 0px 0px 10px $main-color;
        color: $main-color;    font-family: Tourney;
        scale: 80%;
    }
    .title{
        display: flex;
        justify-content: center;
        text-align: center;
        color: $off-white;
        font-family: Tourney;
        margin-top: 0;
        text-shadow: 0px 0px 10px $main-color;
        color: $main-color;
    }
    
    p{
        padding-top: 30px ;
        color: $off-white;
        font-size: 20px;
    }
    
    .tech-skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        width: 390px;
        margin: 0px;
        scale: .8;


        img{
            scale: .7;
            margin: 0;
        }
    }
    
    .homedisplay{
        display: flex;
        justify-content: center;
    
        a{
            margin-top: 5%;
            padding: 10px;
            outline: $off-white solid 2px;
        }
    }
    
    
    .nav-bar{
        position: fixed;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 0px 15px 1px rgb(3, 3, 3);
    
        
    }
    
    .text-glow-btn{
        transition: .3s;
    }
    .text-glow-btn:hover{
        text-shadow: 0px 0px 10px $off-white;
    }
    
    .nav-main{
        color: $main-color !important;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 40px;
        text-decoration: none;
        font-family: Tourney;
        
    }
    
    .nav-list{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
    
    .nav-option{
        padding-right: 60px;
        align-items: center;
        display: flex;
    
        a{
            text-decoration: none;
            color: rgb(177, 177, 177);
            font-family: Montserrat;
            font-weight: bold;
        }
    
        a:hover{
    
        }
    }

    .projects-title{
        padding-top: 170px;
    }
    

}

@media only screen and (max-wdith: 560px){
    .nav{
        align-content: center;
        justify-content: center;
        margin: auto;
    }
}


@media only screen and (max-width: 450px){
    $main-color: rgb(55, 176, 224);
    $off-white: rgb(226, 226, 226);
    
    html{
        scroll-behavior: smooth;
        background-color: #222;
        background: #222;
    }
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
    a:link {
        text-decoration: none;
        color: $off-white;
        
    }
    
    a:visited {
        text-decoration: none;
        color: $off-white;
    }
    
    a:hover {
        text-decoration: none;
        color: $off-white;
    }
    
    a:active {
        text-decoration: none;
        color: $off-white;
    }
    
    .container-fluid{
        margin: 0px;
        padding: 0px;
        background-color: #222;
    }
    
    .button-effect{
        transition: .5s;
        box-shadow: 0px 0px 10px 3px #555;
    }
    .button-effect:hover{
        box-shadow: 0px 0px 10px 3px $off-white;
        
    }
    
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .span{
        font-size: 45px;
        margin: 0px;
        padding: 0px;
        padding-top: 60px;
        .display-1{
            color: rgb(226, 226, 226);
            font-family: Tourney;
            width:fit-content;
            margin: auto;
            padding-bottom: 0px;
            font-size: 45px;
            text-align: center;
        }
        
    }
    
    
    
    .links{
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #222;
        padding-bottom: 150px;
        img{
            transition: .5s;
            -webkit-filter: drop-shadow(0px 0px 3px $off-white);
        }
    
        img:hover{
            -webkit-filter: drop-shadow(0px 0px 15px $off-white);
        }
    }
    
    .foot{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 0px;
    }
    
    footer{
        display: flex;
        background-color: #222;
        padding-bottom: 0;
        padding-top: 0;
        height: auto;
    }
    
    .contacts{
        background-color: #222;
        padding-top: 0px;
    }
    
    .subpage{
        background-color: #222;
        height: 900px;
        padding: 10px;
        font-family: Montserrat;
        padding-top: 200px;
    }
    
    .subpage-pro{
        background-color: #222;
        height: 700px;
        padding-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Montserrat;
    
    
        p{
            margin-bottom: 5%;
    
        }
    
        a{
            width: fit-content;
            margin-bottom: 0px;
        }
    
        img{
            transition: .5s;
            max-width: 350px;
            max-height: 200px;
            //transform: translateX();
            -webkit-filter: drop-shadow(0px 0px 3px $off-white);
        }
    
        img:hover{
            -webkit-filter: drop-shadow(0px 0px 15px $off-white);
        }

        h2{
            padding-top: 40px;
        }
    }
    
    .line{
        width: 40%;
        margin: auto;
        height: fit-content;
        .in-line{
            height: 5px;
            background-color: $main-color;
            box-shadow: 0px 0px 5px 1px $main-color;
            transform: translateY(10px);
        }
    
    }
    
    .display-1{
        color: $off-white;
        font-family: Tourney;
        width:fit-content;
        margin: auto;
        padding-bottom: 0px;
        text-align: center;
    }
    
    .display-4{
        text-shadow: 0px 0px 10px $main-color;
        color: $main-color;    font-family: Tourney;
        scale: 80%;
    }
    .title{
        display: flex;
        justify-content: center;
        text-align: center;
        color: $off-white;
        font-family: Tourney;
        margin-top: 0;
        text-shadow: 0px 0px 10px $main-color;
        color: $main-color;
    }
    
    p{
        padding-top: 30px ;
        color: $off-white;
        font-size: 20px;
    }
    
    .tech-skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        width: 390px;
        margin: 0px;
        scale: .8;


        img{
            scale: .7;
            margin: 0;
        }
    }
    
    .homedisplay{
        display: flex;
        justify-content: center;
    
        a{
            margin-top: 5%;
            padding: 10px;
            outline: $off-white solid 2px;
        }
    }
    
    
    .nav-bar{
        position: fixed;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 0px 15px 1px rgb(3, 3, 3);
    
        
    }
    
    .text-glow-btn{
        transition: .3s;
    }
    .text-glow-btn:hover{
        text-shadow: 0px 0px 10px $off-white;
    }
    
    .nav-main{
        color: $main-color !important;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 40px;
        text-decoration: none;
        font-family: Tourney;
        
    }
    
    .nav{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin: auto;
    }
    
    .nav-option{
        padding-right: 60px;
        align-items: center;
        display: flex;
    
        a{
            text-decoration: none;
            color: rgb(177, 177, 177);
            font-family: Montserrat;
            font-weight: bold;
        }
    
        a:hover{
    
        }
    }

    .projects-title{
        padding-top: 200px;
    }
    

}