//All
html{
    background-color: (#222);
}
.container{
    background-color: #222;
}
body{
    background-color: #222;
}

.logo-image{
        text-align: center;
        font-size: 90px; 
        color: white;
        background-color: #222;
        margin-bottom: 0px;
        height: fit-content;
        transform: translateY(20px);

}
.logo{
        text-align: center;
        font-size: 90px; 
        color: white;
        background-color: #222;
        margin-bottom: 0px;
        height: fit-content;

}
.logo-sub{
    text-align: end;
    color:cadetblue;
    padding-right: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: min-content;
    transform:translateX(650px);
}
//Search
    .center-on-page{
        height: 90vh;
        position: relative;
        background-color: #222;
        width: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-65%);
            
        }
        
    
    //Search bar
        //Center form
        .nav-bar{
            background-color: #222;
            display: flex;
            justify-content: end;
            align-items:center;
            width: auto;
            padding-right: 50px;
            padding-top: 15px;
            
            .nav-list{
                display: flex;
                
                li{
                    margin: 5px;
                    list-style: none;
                }
            }
        }
        
        //textbox
        .search-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            .submit-button{
                margin-top: 20px;
                color: white;
                background-color: #444;
                border: 0;   
                border-radius: 4px;
                height: 36px;
                width: 150px;
                margin-right: 2px;
            }
            .search-bar{
                display: flex;
                box-shadow: none;
                border: 1px solid lightslategray;
                height: 44px;
                width: 584px;
                margin-top: 10px;
                border-radius: 24px;
                outline: none;
                padding: 20px;
                color: white;
                background-color: #222;
    
            }

        }



        //Link interactions
        a:link {
            text-decoration: none;
            color: white;
            
        }
        
        a:visited {
            text-decoration: none;
            color: white;
        }
        
        a:hover {
            text-decoration: underline;
            color: white;
        }
        
        a:active {
            text-decoration: underline;
            color: white;
        }

//Advanced
    .left-aligh-contents{
        hr{
            display: flex;
            background-color: #222;
            margin-top: 0em;
            margin-bottom: 0em;
            color: #222;
        }
    }

    //Title
        .title{
            background-color: #222;
            color:indianred;
            font-size: x-large;
            padding-left: 50px;
            margin: 0px;
            border-bottom: 2px solid #444;
            padding-bottom: 10px;
        }
        .subheading{
            display: flex;
            flex-direction: row;
            align-items:baseline;
            margin: 0px;
            background-color: #222;
            padding-top: 10px;
    
            h5, h6{
                background-color: #222;
                color: white;
                margin: 0px;
            }
            h5{
                padding-left: 50px;
            }
            h6{
                transform: translateX(500px);
            }
        }
    
    //text box container

    //text boxes
    .input-fields{
        display: flex;
        align-items: center;
        padding: 10px;
        background-color:#222;
        .label{
            
        }
        label{
            padding-left: 50px;
            color: white;
        }
        span{
            color: white;
            align-items: baseline;
        }
    }
    .text-box{
        display: flex;
        width: 520px;

    }
    .advanced-submit{
        background-color: #222;
        border-bottom: 2px solid #444;
        padding-bottom: 20px;

        input{
            display: flex;
            transform: translateX(600px);
        }
    }